server:
  port: 9000

spring:
  application:
    name: mystarter-gateway
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: mystarter
    gateway:
      routes:
        # 用户服务路由
        - id: user-service
          uri: http://localhost:8080
          predicates:
            - Path=/user/**
        # 商品服务路由
        - id: product-service
          uri: http://localhost:8080
          predicates:
            - Path=/product/**
      # 跨域配置
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

# Sa-Token 配置（网关层）
sa-token:
  token-name: Authorization
  timeout: 86400
  is-read-cookie: false
  is-read-header: true
  is-concurrent: true
  is-share: true
  token-style: uuid
